@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 90%
}
ul {
  display: flex;
  gap: 10px;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

